@import '../../../../../src/assets/styles/linkin.scss';


.options{
  @include  flex(center,column);
  width:100%;
}



@media screen and (max-width: 768px) {
  .options{
    .fade-in{
      @include size(60px,60%);
      font-size: 4vw;
    }
  }
}
@media screen and (max-width: 480px){

  .options{
    .fade-in{
      @include size(60px,100%);
      font-size: 6vw;
    }
  }
}

@media screen and (max-width: 375px){

}
