/* You can add global styles to this file, and also import other style files */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}

/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  border: 0;
  outline: 0;
  font: inherit;
}

button, select {
  cursor: pointer;
}

@font-face {
  font-family: "FrederickatheGreat-Regular";
  src: url("../fonts/FrederickatheGreat-Regular.ttf");
}
@font-face {
  font-family: "JuliusSansOne";
  src: url("../fonts/JuliusSansOne-Regular.ttf");
}
@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/Segoe UI.ttf");
}
@keyframes turnOn {
  to {
    border: 1px solid #FFFFFF;
    box-shadow: inset 0 0 4px white;
    filter: drop-shadow(0px 4px 4px #3E3535);
  }
}
@keyframes turnOnLetters {
  from {
    color: #545454;
  }
  to {
    color: #FFFFFF;
    filter: drop-shadow(0px 0px 4px #3E3535);
  }
}
@keyframes smoke-in {
  0% {
    opacity: 0;
    filter: blur(40px);
    pointer-events: none;
  }
}
@keyframes smoke-in-letters {
  0% {
    opacity: 0;
    filter: blur(20px);
    pointer-events: none;
    transform: translate(300px, 300px) rotate(180deg) scale(0.5);
  }
}
.fade-in {
  height: 60px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  text-transform: uppercase;
  margin: 2rem 0;
  font-family: "JuliusSansOne", sans-serif;
  font-size: 24px;
  transition: background-color 500ms ease-in-out;
  animation: smoke-in 1s ease-in-out forwards;
}
.fade-in:hover {
  background-color: #FFFFFF;
  color: #000000 !important;
  transition: background-color 500ms ease-in-out;
}

.active {
  color: #FFFFFF !important;
  text-shadow: 0 1px 11px #FFFFFF;
  transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

.status {
  height: 2rem;
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}
.status p {
  font-family: "JuliusSansOne", sans-serif;
  text-transform: uppercase;
  color: #fc0101;
  animation: smoke-in 0.5s ease-in-out forwards;
}

@media screen and (max-width: 375px) {
  .fade-in {
    height: 60px;
    width: 100%;
    font-size: 16px;
  }
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: smoke-in 1s ease-in-out forwards;
}
section .difficulty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0 3rem 0;
}
section .difficulty form {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .difficulty form label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "FrederickatheGreat-Regular", sans-serif;
  font-size: 56px;
  cursor: pointer;
}
section .difficulty form label span {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #545454;
  bottom: -30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
section .difficulty form label input {
  display: none;
}
section .difficulty form label input:checked ~ span {
  background-color: #FFFFFF;
  box-shadow: 0 0 5px 1px #FFFFFF;
  transition: background-color 0.3s ease-in-out;
}
section .length {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  text-transform: uppercase;
  margin: 2rem 0;
  font-family: "JuliusSansOne", sans-serif;
  font-size: 24px;
  height: 60px;
  width: 80%;
  text-align: center;
}
section .length h3 {
  margin: 0 1em;
}
section .length .counter {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0 0 4px #FFFFFF;
  border-radius: 0 20px 20px 0;
  overflow: hidden;
}
section .length .counter span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
  cursor: pointer;
}
section .length .counter span:active:not(:nth-child(2)) {
  background-color: #000000;
  color: #FFFFFF;
}
section .gen-pass {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .gen-pass .inputValue {
  position: relative;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .gen-pass .inputValue p {
  font-family: "SegoeUI", sans-serif;
  text-transform: inherit;
  letter-spacing: 10px;
  text-align: center;
  font-size: 40px;
  display: flex;
}
section .gen-pass .inputValue span {
  color: #FFFFFF;
}
section .gen-pass button {
  position: relative;
  font-family: "JuliusSansOne", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: transparent;
  color: #545454;
  transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}
section .gen-pass button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  box-shadow: 0px -1px 12px #FFFFFF;
  background-color: #FFFFFF;
  transition: width 0.3s ease-in-out;
}
section .gen-pass button:hover::after {
  width: 100%;
  transition: width 0.3s ease-in-out;
}
section span {
  color: #000000;
  font-size: 56px;
  font-family: "FrederickatheGreat-Regular", sans-serif;
}
section button {
  width: 60%;
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: 700;
  margin: 3rem 0;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  section .difficulty form label {
    font-size: 6vw;
  }
  section .difficulty form label span {
    width: 2vw;
    height: 2vw;
  }
  section .length {
    height: 100%;
    width: 80%;
  }
  section .length h3 {
    font-size: 4vw;
    margin: 0 1em;
  }
  section .length .counter {
    height: 100%;
    width: 40%;
  }
}
@media screen and (max-width: 480px) {
  section {
    transform: scale(0.9);
  }
  section .difficulty form label {
    font-size: 6vw;
  }
  section .difficulty form label span {
    width: 2vw;
    height: 2vw;
  }
  section .length {
    height: 100%;
    width: 80%;
  }
  section .length h3 {
    font-size: 16px;
    margin: 0 1em;
  }
  section .length .counter {
    height: 100%;
    width: 40%;
  }
  section span {
    font-size: 40px;
  }
  section button {
    font-size: 24px;
    font-weight: 400;
    margin: 2rem 0;
  }
}
@media screen and (max-width: 375px) {
  section {
    transform: scale(0.9);
  }
  section .difficulty form label {
    font-size: 24px;
  }
  section .difficulty form label span {
    width: 2vw;
    height: 2vw;
  }
  section .length {
    height: 60px;
    width: 100%;
    margin: 1rem 0;
  }
  section .length h3 {
    font-size: 16px;
    margin: 0 1em;
  }
  section .length .counter {
    height: 100%;
    width: 40%;
  }
  section .gen-pass .inputValue {
    width: 100%;
  }
  section .gen-pass .inputValue p {
    font-size: 16px;
  }
  section span {
    font-size: 40px;
  }
  section button {
    width: 100%;
  }
}

/*# sourceMappingURL=generate-password.component.css.map */
