@import '../../../../../src/assets/styles/linkin.scss';



section {
  @include flex(center, column);
  animation: smoke-in 1s ease-in-out forwards;
  .difficulty {
    @include flex(between);
      width: 100%;
    margin: 0 0 3rem 0;
    form {
      cursor: pointer;
      @include flex(center, column);
      label {
        @include flex(center);
        position: relative;
        font-family: 'FrederickatheGreat-Regular', sans-serif;
        font-size: 56px;
        cursor: pointer;
        span{
          position:absolute;
          @include square(15px);
          border-radius: 15px;
          background-color:$neutralColor;
          bottom: -30px;
          cursor:pointer;
          transition:background-color .3s ease-in-out;
        }
        input{
          display:none;
          &:checked ~ span{
            background-color: $whiteColor;
            box-shadow: 0 0 5px 1px$whiteColor;
            transition:background-color .3s ease-in-out;
          }
        }
      }

    }
  }
  .length {
    @include flex(between);
    @include border-style;
    @include size(60px, 80%);
    text-align: center;
    h3{
      margin: 0 1em;
    }
    .counter {
      @include size(100%,40%);
      @include flex(between);
      background-color:$whiteColor;
      box-shadow: 0 0 4px #FFFFFF;
      border-radius: 0 20px 20px 0;
      overflow:hidden;
      span{
        @include flex(center);
        @include size(100%,30%);
        cursor: pointer;
        &:active:not(:nth-child(2)){
          background-color:$blackColor;
          color:$whiteColor;
        }
      }
    }
  }
  .gen-pass{
    width: 100%;
    @include  flex(center,column);
    .inputValue{
      position:relative;
      width: 60%;
      @include  flex(between);
      p{
        font-family: 'SegoeUI',sans-serif;
        text-transform: inherit;
        letter-spacing: 10px;
        text-align: center;
        font-size: 40px;
        display: flex;

      }
      span{
        color:$whiteColor;
      }

    }
    button{
      position:relative;
      font-family: "JuliusSansOne", sans-serif;
      font-size: 32px;
      text-transform: uppercase;
      letter-spacing: 1px;
      background-color: transparent;
      color: $neutralColor;
      transition: text-shadow .3s ease-in-out, color .3s ease-in-out;
      &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        @include size(3px,0%);
        box-shadow: 0px -1px 12px #FFFFFF;
        background-color:$whiteColor;
        transition: width .3s ease-in-out;
      }
      &:hover::after {
        width:100%;
        transition: width .3s ease-in-out;
      }
    }
  }
  span{
    color: $blackColor;
    font-size: 56px;
    font-family: 'FrederickatheGreat-Regular', sans-serif;
  }
  button{
    width: 60%;
    letter-spacing: 2px;
    font-size: 40px;
    font-weight: 700;
    margin: 3rem 0;
    background-color: transparent;
  }
}


@media screen and (max-width: 768px) {
  section {
    .difficulty {
      form {
        label {
          font-size: 6vw;
          span {
            @include square(2vw);
          }
        }
      }
    }
    .length {
      @include size(100%, 80%);
      h3{
        font-size: 4vw;
        margin: 0 1em;
      }
      .counter {
        @include size(100%,40%);
      }
    }
  }

}

@media screen and (max-width: 480px){
  section {
    transform: scale(0.9);
    .difficulty {
      form {
        label {
          font-size: 6vw;
          span {
            @include square(2vw);
          }
        }
      }
    }
    .length {
      @include size(100%, 80%);
      h3{
        font-size: 16px;
        margin: 0 1em;
      }
      .counter {
        @include size(100%,40%);
      }
    }
    span{
      font-size: 40px;
    }
    button{
      font-size: 24px;
      font-weight: 400;
      margin: 2rem 0;
    }
  }

}

@media screen and (max-width: 375px){
  section {
    transform: scale(0.9);
    .difficulty {
      form {
        label {
          font-size: 24px;
          span {
            @include square(2vw);
          }
        }
      }
    }
    .length {
      @include size(60px, 100%);
      margin: 1rem 0;
      h3{
        font-size: 16px;
        margin: 0 1em;
      }
      .counter {
        @include size(100%,40%);
      }
    }
    .gen-pass{
      .inputValue{
        width: 100%;
        p{
          font-size: 16px;
        }
      }
    }
    span{
      font-size: 40px;
    }
    button{
    width:100%
    }
  }
}
