<section>

<ul class="difficulty">
  <li>
    <form action="">
      <label for="upper">[A-Z]
      <input type="checkbox" (change)="upperCheck($event)" id="upper">
        <span></span>
      </label>
    </form>
  </li>
  <li>
    <form action="">
      <label for="lower">[a-z]
        <input type="checkbox" (change)="lowerCheck($event)" id="lower">
        <span></span>
      </label>

    </form>
  </li>
  <li>
    <form action="">
      <label for="numbers">[0-9]
        <input type="checkbox" (change)="numberCheck($event)" id="numbers">
        <span></span>
      </label>

    </form>
  </li>
  <li>
    <form action="">
      <label for="symbols">[#@*]
        <input type="checkbox" (change)="symbolCheck($event)" id="symbols">
        <span></span>
      </label>
    </form>
  </li>
</ul>

  <div class="length">
   <h3>password length</h3>
   <div class="counter">
     <span id="minus" (click)="decrement()" >&#8722;</span>
    <span>{{num}}</span>
     <span id="plus" (click)="increment()" >&#43;</span>
   </div>
  </div>

<button class="fade-in" type="submit" (click)="checkDifficulty()">Submit</button>


  <div class="gen-pass">
    <div class="inputValue">
      <span> [</span>
      <p id="passResult" (change)='fadeInFunc()'>{{valiue}}</p>
      <span> ]</span>
    </div>

    <button style="width: 6rem;"  id="copyBtn" type="submit" [ngClass]="{active: active}"   (click)="copyStr()" >Copy</button>
  </div>


  <div class="status">
    <p *ngIf="isCopy">Password is Copied</p>
  </div>

</section>
