/* You can add global styles to this file, and also import other style files */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}

/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  border: 0;
  outline: 0;
  font: inherit;
}

button, select {
  cursor: pointer;
}

@font-face {
  font-family: "FrederickatheGreat-Regular";
  src: url("../fonts/FrederickatheGreat-Regular.ttf");
}
@font-face {
  font-family: "JuliusSansOne";
  src: url("../fonts/JuliusSansOne-Regular.ttf");
}
@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/Segoe UI.ttf");
}
@keyframes turnOn {
  to {
    border: 1px solid #FFFFFF;
    box-shadow: inset 0 0 4px white;
    filter: drop-shadow(0px 4px 4px #3E3535);
  }
}
@keyframes turnOnLetters {
  from {
    color: #545454;
  }
  to {
    color: #FFFFFF;
    filter: drop-shadow(0px 0px 4px #3E3535);
  }
}
@keyframes smoke-in {
  0% {
    opacity: 0;
    filter: blur(40px);
    pointer-events: none;
  }
}
@keyframes smoke-in-letters {
  0% {
    opacity: 0;
    filter: blur(20px);
    pointer-events: none;
    transform: translate(300px, 300px) rotate(180deg) scale(0.5);
  }
}
.fade-in {
  height: 60px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  text-transform: uppercase;
  margin: 2rem 0;
  font-family: "JuliusSansOne", sans-serif;
  font-size: 24px;
  transition: background-color 500ms ease-in-out;
  animation: smoke-in 1s ease-in-out forwards;
}
.fade-in:hover {
  background-color: #FFFFFF;
  color: #000000 !important;
  transition: background-color 500ms ease-in-out;
}

.active {
  color: #FFFFFF !important;
  text-shadow: 0 1px 11px #FFFFFF;
  transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

.status {
  height: 2rem;
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}
.status p {
  font-family: "JuliusSansOne", sans-serif;
  text-transform: uppercase;
  color: #fc0101;
  animation: smoke-in 0.5s ease-in-out forwards;
}

@media screen and (max-width: 375px) {
  .fade-in {
    height: 60px;
    width: 100%;
    font-size: 16px;
  }
}
.fade {
  animation: smoke-in 1s ease-in-out forwards;
}

.bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.bars .bar-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 1px;
}
.bars .bar-box .bar {
  height: 3px;
  width: 100%;
  background-color: #545454;
  border-radius: 35px;
  margin: 1rem;
}
.bars .bar-box .bar .fill {
  height: 100%;
  width: 0%;
  box-shadow: 0px -1px 12px #FFFFFF;
  background-color: #FFFFFF;
  border-radius: 35px;
  transition: width 0.3s ease-in-out;
}
.bars .bar-box h3 {
  text-transform: uppercase;
  font-family: "JuliusSansOne", sans-serif;
  letter-spacing: 1px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form input {
  height: 50px;
  width: 50%;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  text-transform: uppercase;
  margin: 2rem 0;
  font-family: "JuliusSansOne", sans-serif;
  font-size: 24px;
  font-family: "SegoeUI", sans-serif;
  text-transform: inherit;
  letter-spacing: 2px;
  background-color: transparent;
  padding: 0.5em;
  margin: 5rem 0;
  text-align: center;
}
form button {
  position: relative;
  font-family: "JuliusSansOne", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: transparent;
  color: #545454;
  transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}
form button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  box-shadow: 0px -1px 12px #FFFFFF;
  background-color: #FFFFFF;
  transition: width 0.3s ease-in-out;
}
form button:hover::after {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  form input {
    height: 60px;
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  section {
    align-items: center;
    display: flex;
  }

  .bars {
    flex-flow: column;
    width: 90%;
  }

  form {
    width: 100%;
  }
  form input {
    height: 60px;
    width: 90%;
  }
}
@media screen and (max-width: 375px) {
  form input {
    margin: 2rem 0;
  }
}

/*# sourceMappingURL=create-password.component.css.map */
