<section class="fade">
  <div class="bars">
    <div class="bar-box">
      <div class="bar">
        <div class="fill" id="easy"></div>
      </div>
      <h3>EASY</h3>
    </div>
    <div class="bar-box">
      <div class="bar">
        <div class="fill" id="normal"></div>
      </div>
      <h3>Normal</h3>
    </div>
    <div class="bar-box">
      <div class="bar">
        <div class="fill" id="strong"></div>
      </div>
      <h3>strong</h3>
    </div>
  </div>

  <form action="">
    <input type="text" [(ngModel)]="input" (ngModelChange)="change()" name='createdPassword'>
    <button  id="copyBtn" type="submit" [ngClass]="{active: active}" (click)="copy()" >Copy</button>
    <div class="status">
      <p *ngIf="isCopy">Password is Copied</p>
      <p *ngIf="isValid">Invalid Password Terms</p>
    </div>

  </form>


</section>
