
@font-face {
  font-family: 'FrederickatheGreat-Regular';
  src: url('../fonts/FrederickatheGreat-Regular.ttf');
}

@font-face {
  font-family: 'JuliusSansOne';
  src: url('../fonts/JuliusSansOne-Regular.ttf');
}

@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/Segoe UI.ttf');
}
